<div class="well">Dane kierowcy</div>
<table class="table table-hover table-bordered" *ngIf="driver != undefined">
  <tbody class="driver-details">
    <tr>
      <th><b>Imię</b></th>
      <th>{{driver.firstName}}</th>
    </tr>
    <tr>
      <th><b>Nazwisko</b></th>
      <th>{{driver.lastName}}</th>
    </tr>
    <tr>
      <th><b>PESEL</b></th>
      <th>{{driver.pesel}}</th>
    </tr>
    <tr>
      <th><b>Data ważności badania lekarskiego</b></th>
      <th>{{driver.examinationElapseDate}}</th>
    </tr>
    <tr>
      <th><b>Ulica</b></th>
      <th>{{driver.address.street}}</th>
    </tr>
    <tr>
      <th><b>Numer domu</b></th>
      <th>{{driver.address.houseNumber}}</th>
    </tr>
    <tr>
      <th><b>Numer mieszkania</b></th>
      <th>{{driver.address.residenceNumber}}</th>
    </tr>
    <tr>
      <th><b>Kod pocztowy</b></th>
      <th>{{driver.address.zipCode}}</th>
    </tr>
    <tr>
      <th><b>Miasto</b></th>
      <th>{{driver.address.city}}</th>
    </tr>
  </tbody>
</table>
<hr class="divider">

<div class="well">Dokumenty prawa jazdy</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Data wydania</th>
      <th>Data ważności</th>
      <th>Numer seryjny</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lic of licenses">
      <th>{{lic.from}}</th>
      <th>{{lic.to}}</th>
      <th>{{lic.sequence}}</th>
    </tr>
  </tbody>
</table>
<hr class="divider">

<div class="well">Kategorie prawa jazdy | <p (click)="showAddAuthorisation = !showAddAuthorisation">dodaj kategorię</p> | <p (click)="showDeleteAuthorisation = ! showDeleteAuthorisation">usuń kategorię</p></div>
<app-delete-authorisation *ngIf="showDeleteAuthorisation" [authorisations]="authorisations"></app-delete-authorisation>
<app-add-authorisation *ngIf="showAddAuthorisation" [driver]="driver"></app-add-authorisation>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Kategoria</th>
      <th>Data przyznania</th>
      <th>Data ważności</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let auth of authorisations">
      <th>{{auth.category}}</th>
      <th>{{auth.from}}</th>
      <th>{{auth.to}}</th>
    </tr>
  </tbody>
</table>
<hr class="divider">

<div class="well">Punkty karne | <p (click)="showAddPoints = !showAddPoints">przyznaj punkty karne</p></div>
<app-add-penalty-points [driverId]="driverId" *ngIf="showAddPoints"></app-add-penalty-points>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Liczba</th>
      <th>Data przyznania</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let point of points">
      <th>{{point.count}}</th>
      <th>{{point.date}}</th>
    </tr>
  </tbody>
</table>
<hr class="divider">