<div class="container">
  <div class="well">Dane samochodu</div>
  <div class="row">
    <div class="col-sm-3"><b>Marka:</b></div>
    <div class="col-sm-3">{{marka}}</div>
    <div class="col-sm-3"><b>Model:</b></div>
    <div class="col-sm-3">{{model}}</div>
  </div>

  <!--LISTA DOWODÓW REJSTRACYJNYCH-->
  <div class="well">Dowody rejestracyjne</div>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Numer seryjny</th>
        <th>Data ważności</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dowod of dowodyRejestracyjne">
        <th>{{dowod.sequence}}</th>
        <th>{{dowod.to}}</th>
      </tr>
    </tbody>
  </table>

  <!--LISTA TABLIC REJSTRACYJNYCH-->
  <div class="well">Numery rejestracyjne</div>
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>Numer rejestracyjny</th>
      <th>Czy aktualny</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let numer of numeryRejestracyjne">
      <th>{{numer.registrationNumber}}</th>
      <th *ngIf="numer.actual">TAK</th>
      <th *ngIf="!numer.actual">NIE</th>
    </tr>
    </tbody>
  </table>

  <!--LISTA OC-->
  <!-- <button class="btn btn-danger" (click)="delete()">Usuń</button> -->
</div>