.user-panel{
    width: 250px;
    height: 105px;
    border: 1px solid #fff;
    width: 260px;
    background: rgba(255, 255, 255, 0.9);
    color: #444;
    font-size: 0.9em;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 35px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid #ccc;
}
.user-panel>.user{
    padding: 10px 0px 5px 10px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.user-panel>.user>figcaption{
    margin: 10px 0px 0px 15px;
    display: inline-block;
    font-size: 1.5em;
}
.user-panel>.user>img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}
.user-panel>.user-control{
    list-style: none;
    float: right;
    margin: 2px 5px 0px 0px;
}
.user-panel>.user-control>li{
    display: inline-block;
}
.user-panel>.user-control>li>.btn{
    background-color: #30a5ff;
    font-weight: 600;
    letter-spacing: 1px;
}