<div class="user-wrapper">
    <p>
        <button (click)="changeUserPanelVisible()"> John Smith <i class="fa fa-caret-down" aria-hidden="true"></i></button>
    </p>
    <div *ngIf='visible' class="user-panel">
        <figure class="user">
            <img src="../../../assets/img/user.png"/>
            <figcaption>John Smith</figcaption>
        </figure>
        <ul class="user-control">
            <li><button class="btn-info btn btn-xs ">settings</button></li>
            <li><button class="btn-info  btn btn-xs ">log out</button></li>
        </ul>
    </div>
  </div>