<div class="user-wrapper">
    Zalogowany:
    <p (click)="changeUserPanelVisible()">
        {{username}} <i class="fa fa-caret-down" aria-hidden="true"></i>
    </p>
    <div *ngIf='visible' class="user-panel">
        <figure class="user">
            <img src={{imageSource}}/>
            <figcaption>{{username}}</figcaption>
        </figure>
        <ul class="user-control">
            <li><button class="btn-info btn btn-xs ">settings</button></li>
            <li><button class="btn-info  btn btn-xs " (click)="logout()">log out</button></li>
        </ul>
    </div>
  </div>