<div class="sidebar-wrapper">
  <div class="sidebar">
    <div class="logo">
        <img src = "../../../assets/img/logoSG.png"/>
    </div>
    <div class="nav-wrapper">
        <ul class="nav">
            <li *ngFor="let page of pages" (click)="onselect(page)"
            [class.selected]="page == selectedPage">
                <a routerLink="{{page.url}}">
                    <p>{{ page.names }}</p>
                </a>
            </li>
            <!--<li>
                <a routerLink="/vehicle">
                    <i class="pe-7s-user"></i>
                    <p>Add Vehicle</p>
                </a>
            </li>-->
        </ul>
    </div>
   
  </div>    
</div>