<div class="navbar-wrapper">
    <div class="navbar">
            <p class="logo">
                {{title}}
            </p>
            <div class="user-wrapper">
                <p>
                    John Smith <i class="fa fa-caret-down" aria-hidden="true"></i>
                </p>
                <div class="user-panel">
                    <figure class="user">
                        <img src="../../../assets/img/user.png"/>
                        <figcaption>John Smith</figcaption>
                    </figure>
                    <ul class="user-control">
                        <li><button class="btn-info btn btn-xs ">settings</button></li>
                        <li><button class="btn-info btn  btn-xs ">log out</button></li>
                    </ul>
                </div>
            </div>
    </div>
</div>
